<!DOCTYPE html>
<head>
    <title>Adddata</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
</head>
<body>
    <%- include layout%>
    <div class="container">
    <h2 align="center">Add data to DB</h2>
        <% if(locals.errors){ %>
        <ul class="alert alert-danger">
            <% Object.values(errors).forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% })  %>
        </ul>
        <% } %>
        <form class="" action="/adddata/addnew" method="post">
            <div class="form-group">
                <label for="fname">FirstName</label>
                <input type="text" name="firstname" value=""
                class="form-control" id="fname">
            </div>
            <div class="form-group">
                <label for="lname">LastName</label>
                <input type="text" name="lastname" value=""
                class="form-control" id="lname">  
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" name="age" value=""
                class="form-control" id="age">  
            </div>
            <div class="form-group">
                <label for="toy">Toy</label>
                <input type="text" name="toy" value=""
                class="form-control" id="toy">  
            </div>

            <!-- <div class="form-group">
                <label for="">Age</label>
                <textarea type="text" name="address" value=""
                class="form-control" row="8" cols="80"></textarea>  
            </div> -->
            <input type="submit" name="subbtn" value="Submit" class="btn btn-primary"> 
            
        </form>
        <form class="" action="/adddata/getold" method="get">
            <input name="getold" value="getold" type="submit" class="btn btn-primary"> 
        </form>
        <div class="py-2">
            <p>
               
                <% Object.values(datas).forEach(function(data) { %>
                    <h3><b>id : </b><%= data.getid %></h3>
                    <p>first_name : <%= data.FirstName %></p>
                    <p>last_name : <%= data.LastName %></p>
                    <p>age : <%= data.Age %></p>
                    <p>toy : <%= data.Toy %></p>
                    <hr>
                <% })  %>
            </p>
        </div>
    </div>
    <!-- <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script> -->
</body>
</html>